<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.BrandMapper">


    <delete id="deleteAll">
        delete from shoes.brand;
    </delete>

    <select id="selectBrandNames" resultType="java.lang.String">
        select name from brand;
    </select>

    <select id="selectPage" resultType="cn.ken.shoes.model.entity.BrandDO">
        select * from brand
        <where>
            <if test="name != null and name != ''">
                and name like concat("%", #{name}, "%")
            </if>
            <if test="needCrawl != null">
                name need_crawl = #{needCrawl}
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*) from brand
        <where>
            <if test="name != null and name != ''">
                and name like concat("%", #{name}, "%")
            </if>
            <if test="needCrawl != null">
                name need_crawl = #{needCrawl}
            </if>
        </where>
    </select>
</mapper>
