<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.BrandMapper">

    <insert id="batchInsertOrUpdate">
        insert into brand(name, total, crawl_cnt, need_crawl, platform)
        values
        <foreach collection="brands" item="brand" separator=",">
            (
             #{brand.name},
             #{brand.total},
             #{brand.crawlCnt},
             #{brand.needCrawl},
             #{brand.platform}
            )
        </foreach>
        on duplicate key update
        total = values(total)
#         ,crawl_cnt = least(crawl_cnt, values(total))
    </insert>

    <update id="updateByName">
        update brand
        <if test="needCrawl != null">
            set need_crawl = #{needCrawl}
        </if>
        <if test="crawlCnt != null">
            set crawl_cnt = #{crawlCnt}
        </if>
        where `name` = #{name} and `platform` = #{platform}
    </update>

    <update id="updateDefaultCrawlCnt">
        update shoes.brand set crawl_cnt = least(total, #{cnt});
    </update>

    <select id="selectBrandNames" resultType="java.lang.String">
        select name from brand;
    </select>

    <select id="selectPage" resultType="cn.ken.shoes.model.entity.BrandDO">
        select * from brand
        <where>
            <if test="name != null and name != ''">
                and name like concat("%", #{name}, "%")
            </if>
            <if test="needCrawl != null">
                and need_crawl = #{needCrawl}
            </if>
            <if test="platform != null">
                and platform = #{platform}
            </if>
        </where>
        order by total desc
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*) from brand
        <where>
            <if test="name != null and name != ''">
                and name like concat("%", #{name}, "%")
            </if>
            <if test="needCrawl != null">
                and need_crawl = #{needCrawl}
            </if>
            <if test="platform != null">
                and platform = #{platform}
            </if>
        </where>
    </select>
</mapper>
