<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.KickScrewItemMapper">


    <insert id="insertIgnore">
        insert ignore into shoes.kick_screw_item value (
               #{modelNo},
               #{title},
               #{brand},
               #{productType},
               #{image},
               #{lowestPrice},
               #{handle}
        )
    </insert>
</mapper>
