<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.KickScrewItemMapper">


    <insert id="insertIgnore">
        insert ignore into shoes.kick_screw_item(model_no, title, brand, product_type, gender, release_year, image, handle) value (
               #{modelNo},
               #{title},
               #{brand},
               #{productType},
               #{gender},
               #{releaseYear},
               #{image},
               #{handle}
        )
    </insert>

    <delete id="deleteAll">
        delete from shoes.kick_screw_item;
    </delete>

    <select id="selectListByBrand" resultType="cn.ken.shoes.model.entity.KickScrewItemDO">
        select * from shoes.kick_screw_item
        where brand = #{brand}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from shoes.kick_screw_item
        <where>
            <if test="brands != null">
                and brand in
                <foreach collection="brands" item="brand" open="(" close=")" separator=",">
                    #{brand}
                </foreach>
            </if>
            <if test="releaseYears != null">
                and release_year in
                <foreach collection="releaseYears" item="releaseYear" open="(" close=")" separator=",">
                    #{releaseYear}
                </foreach>
            </if>
            <if test="genders != null">
                and gender in
                <foreach collection="genders" item="gender" open="(" close=")" separator=",">
                    #{gender}
                </foreach>
            </if>
            <if test="brands != null">
                and product_type in
                <foreach collection="productTypes" item="productType" open="(" close=")" separator=",">
                    #{productType}
                </foreach>
            </if>
            <if test="modelNumbers != null">
                and model_no in
                <foreach collection="modelNumbers" item="modelNumber" open="(" close=")" separator=",">
                    #{modelNumber}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectPageByCondition" resultType="cn.ken.shoes.model.entity.KickScrewItemDO">
        select * from shoes.kick_screw_item
        <where>
            <if test="brands != null">
                 and brand in
                <foreach collection="brands" item="brand" open="(" close=")" separator=",">
                    #{brand}
                </foreach>
            </if>
            <if test="releaseYears != null">
                and release_year in
                <foreach collection="releaseYears" item="releaseYear" open="(" close=")" separator=",">
                    #{releaseYear}
                </foreach>
            </if>
            <if test="genders != null">
                and gender in
                <foreach collection="genders" item="gender" open="(" close=")" separator=",">
                    #{gender}
                </foreach>
            </if>
            <if test="productTypes != null">
                and product_type in
                <foreach collection="productTypes" item="productType" open="(" close=")" separator=",">
                    #{productType}
                </foreach>
            </if>
            <if test="modelNumbers != null">
                and model_no in
                <foreach collection="modelNumbers" item="modelNumber" open="(" close=")" separator=",">
                    #{modelNumber}
                </foreach>
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectModelNoByReleaseYear" resultType="java.lang.String">
        select model_no from shoes.kick_screw_item
        where release_year = #{releaseYear}
    </select>


    <select id="selectItemsWithPoisonPrice" resultType="cn.ken.shoes.model.entity.KickScrewItemDO">
        select pp.model_no as modelNo, ksi.handle as handle
        from poison_price pp
            inner join shoes.kick_screw_item ksi on pp.model_no = ksi.model_no
        group by pp.model_no
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectAllItemsWithPoisonPrice" resultType="cn.ken.shoes.model.entity.KickScrewItemDO">
        select pp.model_no as modelNo, ksi.handle as handle
        from poison_price pp
                 inner join shoes.kick_screw_item ksi on pp.model_no = ksi.model_no
        group by pp.model_no
    </select>

    <select id="countItemsWithPoisonPrice" resultType="java.lang.Long">
        select count(*) from (
            select count(*) from poison_price pp
            inner join shoes.kick_screw_item ksi on pp.model_no = ksi.model_no
            group by pp.model_no
        ) as pkc
    </select>

    <select id="selectHandleByModelNo" resultType="java.lang.String">
        select handle from kick_screw_item
        where model_no = #{modelNo}
    </select>

    <select id="selectExistModelNos" resultType="java.lang.String">
        select model_no from kick_screw_item
        where model_no in
        <foreach collection="modelNos" item="modelNo" open="(" close=")" separator=",">
            #{modelNo}
        </foreach>
    </select>

</mapper>
