<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.MustCrawlMapper">

    <insert id="insertIgnore">
        insert ignore into must_crawl(platform, model_no) VALUE (
            #{platform},
            #{modelNo}
        )
    </insert>

    <delete id="deleteByPlatform">
        delete from must_crawl
        where platform = #{platform}
    </delete>

    <select id="queryByPlatformList" resultType="java.lang.String">
        select model_no from must_crawl
        where platform = #{platform}
    </select>
</mapper>
