<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.PoisonItemMapper">
    <insert id="insertIgnore">
        insert ignore into shoes.poison_item(article_number, brand_name, category_name, spu_id, spu_logo, title, release_year) value (
            #{articleNumber},
            #{brandName},
            #{categoryName},
            #{spuId},
            #{spuLogo},
            #{title},
            #{releaseYear}
        )
    </insert>

    <delete id="deleteAll">
        delete from shoes.poison_item;
    </delete>

    <select id="selectByArticleNumber" parameterType="String" resultType="cn.ken.shoes.model.entity.PoisonItemDO">
        select * from shoes.poison_item
        where article_number = #{articleNumber}
    </select>

    <select id="selectSpuId" resultType="cn.ken.shoes.model.entity.PoisonItemDO">
        select article_number, spu_id from poison_item
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from poison_item;
    </select>

    <select id="selectModelNoByReleaseYear" resultType="java.lang.String">
        select article_number from shoes.poison_item
        where release_year = #{releaseYear}
    </select>

    <select id="shoesCount" resultType="long">
        SELECT count(*)
        FROM
            poison_item pt
                LEFT JOIN
            poison_price pp ON pt.article_number = pp.model_no
                LEFT JOIN
            kick_screw_price kp ON pt.article_number = kp.model_no AND pp.eu_size = kp.eu_size
        <where>
            <if test="modelNumber != null and modelNumber != ''">
                and pt.article_number = #{modelNumber}
            </if>
            <if test="name != null and name != ''">
                and pt.title = concat("%", #{name}, "%")
            </if>
            <if test="brand != null and brand != ''">
                and pt.brand = #{brand}
            </if>
            <if test="releaseYear != null and releaseYear != ''">
                and pt.releaseYear = #{releaseYear}
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="shoes" resultType="cn.ken.shoes.model.shoes.ShoesVO">
        SELECT
            pt.*,
            pp.eu_size AS size,
            pp.normal_price AS normalPrice,
            pp.lightning_price AS lightningPrice,
            kp.price AS kcPrice
        FROM
            poison_item pt
                LEFT JOIN
            poison_price pp ON pt.article_number = pp.model_no
                LEFT JOIN
            kick_screw_price kp ON pt.article_number = kp.model_no AND pp.eu_size = kp.eu_size
        <where>
            <if test="modelNumber != null and modelNumber != ''">
                and pt.article_number = #{modelNumber}
            </if>
            <if test="name != null and name != ''">
                and pt.title = concat("%", #{name}, "%")
            </if>
            <if test="brand != null and brand != ''">
                and pt.brand = #{brand}
            </if>
            <if test="releaseYear != null and releaseYear != ''">
                and pt.releaseYear = #{releaseYear}
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>


    <select id="selectSpuIdByModelNos" resultType="cn.ken.shoes.model.entity.PoisonItemDO">
        select poison_item.article_number, poison_item.spu_id from poison_item
        where article_number in
        <foreach collection="articleNumberList" item="articleNumber" open="(" close=")" separator=",">
            #{articleNumber}
        </foreach>
    </select>

    <select id="selectExistModelNos" resultType="java.lang.String">
        select poison_item.article_number from poison_item
        where article_number in
        <foreach collection="articleNumberList" item="articleNumber" open="(" close=")" separator=",">
            #{articleNumber}
        </foreach>
    </select>
</mapper>
