<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.PoisonPriceMapper">

    <insert id="insertIgnore">
        insert ignore into poison_price(model_no, eu_size, normal_price, lightning_price, fast_price, brand_price) value (
            #{modelNo},
            #{euSize},
            #{normalPrice},
            #{lightningPrice},
            #{fastPrice},
            #{brandPrice}
        )
    </insert>

    <select id="selectPage" resultType="cn.ken.shoes.model.entity.PoisonPriceDO">
        select *
        from poison_price
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="selectListByModelNos" resultType="cn.ken.shoes.model.entity.PoisonPriceDO">
        select * from poison_price
        <where>
            model_no in
            <foreach collection="modelNos" separator="," open="(" close=")" item="modelNo">
                 #{modelNo}
            </foreach>
        </where>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from poison_price;
    </select>
</mapper>
