<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.StockXItemMapper">

    <insert id="insertIgnore">
        insert ignore into stockx_item(product_id, brand, product_type, model_no, url_key, title, release_date) VALUE (
            #{productId},
            #{brand},
            #{productType},
            #{modelNo},
            #{urlKey},
            #{title},
            #{releaseDate}
        )
    </insert>

    <select id="selectAllProductIds" resultType="java.lang.String">
        select product_id from stockx_item;
    </select>

</mapper>
