<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.TaskMapper">

    <select id="selectTask" resultType="cn.ken.shoes.model.entity.TaskDO">
        select * from task
        where platform = #{platform} and task_type = #{type} and operate_type = #{operateType} and status = #{status}
    </select>

    <select id="selectByCondition" resultType="cn.ken.shoes.model.entity.TaskDO">
        select * from task
        <where>
            <if test="platform != null and platform != ''">
                and platform = #{platform}
            </if>
            <if test="taskType != null and taskType != ''">
                and task_type = #{taskType}
            </if>
            <if test="operateType != null and operateType != ''">
                and operate_type = #{operateType}
            </if>
            <if test="startTime != null">
                and start_time > #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt; #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>

    <update id="updateTaskStatus">
        update task set status = #{status}, end_time = now()
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Long">
        select count(*) from task
        <where>
            <if test="platform != null and platform != ''">
                and platform = #{platform}
            </if>
            <if test="taskType != null and taskType != ''">
                and task_type = #{taskType}
            </if>
            <if test="operateType != null and operateType != ''">
                and operate_type = #{operateType}
            </if>
            <if test="startTime != null">
                and start_time > #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt; #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>
