<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.shoes.mapper.TaskItemMapper">

    <resultMap id="taskItemResultMap" type="cn.ken.shoes.model.entity.TaskItemDO">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="round" column="round"/>
        <result property="title" column="title"/>
        <result property="listingId" column="listing_id"/>
        <result property="productId" column="product_id"/>
        <result property="styleId" column="style_id"/>
        <result property="size" column="size"/>
        <result property="euSize" column="eu_size"/>
        <result property="currentPrice" column="current_price"/>
        <result property="lowestPrice" column="lowest_price"/>
        <result property="poisonPrice" column="poison_price"/>
        <result property="poison35Price" column="poison_35_price"/>
        <result property="profit35" column="profit_35"/>
        <result property="profitRate35" column="profit_rate_35"/>
        <result property="operateResult" column="operate_result"/>
        <result property="operateTime" column="operate_time"/>
    </resultMap>

    <select id="selectByTaskId" resultMap="taskItemResultMap">
        SELECT * FROM task_item
        WHERE task_id = #{taskId}
        ORDER BY operate_time DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="countByTaskId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM task_item
        WHERE task_id = #{taskId}
    </select>

    <select id="selectByCondition" resultMap="taskItemResultMap">
        SELECT * FROM task_item
        <where>
            task_id = #{taskId}
            <if test="operateResult != null and operateResult != ''">
                AND operate_result LIKE CONCAT('%', #{operateResult}, '%')
            </if>
            <if test="styleId != null and styleId != ''">
                AND style_id LIKE CONCAT('%', #{styleId}, '%')
            </if>
            <if test="euSize != null and euSize != ''">
                AND eu_size = #{euSize}
            </if>
        </where>
        ORDER BY operate_time DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="countByCondition" resultType="java.lang.Long">
        SELECT COUNT(*) FROM task_item
        <where>
            task_id = #{taskId}
            <if test="operateResult != null and operateResult != ''">
                AND operate_result LIKE CONCAT('%', #{operateResult}, '%')
            </if>
            <if test="styleId != null and styleId != ''">
                AND style_id LIKE CONCAT('%', #{styleId}, '%')
            </if>
            <if test="euSize != null and euSize != ''">
                AND eu_size = #{euSize}
            </if>
        </where>
    </select>

    <update id="batchUpdateResult">
        UPDATE task_item
        SET operate_result = #{operateResult}, operate_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
